*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header {
    height: 80px;
    background-color: #102a39;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

.header__logo {
    object-fit: contain;
    float: left;
    height: 60px;
    width: 300px;
    overflow: hidden;

}

.input {
    position:relative;  
    left:13%;
    top: 5%;

}

.header__searchInput {
    width: 300px;
    height: 40px  !important;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 8px 5px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}



.header__searchIcon {
    width: 90px;
    height: 40px;
    font-size: large;
    margin: 8px 5px;
    background-color: green;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}

.login_button {
    width: 60px;
    height: 50px;
    position: relative;
    left:350%;
    top: 20%;
    font-size: large;
    margin: 8px 5px;
    background-color: #102a39;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}
.location {
    display: flex;
}
.location_button {
    display: inline;
    width: 100%;
    height: 100%;
    position: relative;
    left:300%;
    top: 20%;
    font-size: large;
    margin: 8px 5px;
    background-color: #102a39;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        }
    .header__logo {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; 
        width: 100%;
        size: small;
    }

    .input {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 1;
        }
    .header__searchInput {
        width: auto;
        font-size: 10px;
        margin-left: -5%;

    
    }
    .header__searchIcon {
        width: auto;
        font-size: small;
    }
    .login_button {
        width: auto;
        font-size: 10px;
        margin-left: -350%;
        height: 15%;
    }    
    .location_button {
        width: auto;
        font-size: 10px;
        margin-left: -300%;
        height: 15%;
    }
}
