
.div-container {
    transform-origin: center;
}

.carousel-container {
    display: flexbox;
    width: 1000px;
    height:550px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    background-color: whitesmoke;
    margin-top: 5vh;

}

  .item-container--image > img {
    background-size: cover;
    background-position: center;
    width:600px;
    height:550px;  
  }
  .item-container {
    width: 350px;
    box-shadow: 0 1px 1px 0px rgb(155, 132, 132);
  }

.col-md-py-2 {
  padding: 10px;
}


.item-container--discount_container {
  height: 50px;
  width: 50px;
  background-color: #40b866;
  border-radius: 50%;
  padding: 12px;
  position: absolute;
  top: -1px;
  left: -5px;
  color: white;
}

.item-container--name {
  padding: 20px 1px 1px 1px;
  font-size: 20px;
  color: black;
  position: relative;

}

.item-container--description--para {
  padding: 10px;
  overflow: hidden;
  width: 320px;
  height: 20px;
  margin: 0 0 10px;
}

.item-container--description----p_n_d {
  display: flex;
  justify-content: space-between;
  font-size: small;
}


.item-container__rem_time_and_btn_container--btn {
  border-top: 1px solid #ededed;
  padding: 10px 5px;
  font-size: 15px;
  background-color: #f7f8fa;
  background-color: rgba(0, 128, 0, 0.685);
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
}